Package: magic-package-workstation
Version: $TRAVIS_TAG
Section: stable
Priority: optional
Architecture: all
Depends: bash,curl,git,ruby-dev,docker.io
Maintainer: Sylvain Gandon <krack_6@hotmail.com>
Description: Tools and configuration for developp.
Homepage: https://github.com/krack/magic-pakage-workstation
